<div class="review">
  <p><%="Review ##{review.id}" %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
